<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.google_maps_in_flutter">
    <application
        android:label="Google Maps in Flutter">

        <!-- Google Maps API 키 추가 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDFvcHBwBs0-a7HNqD4Atmm9ZlJ6hPCp8w"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
                />
            <meta-data
                android:name="io.flutter.embedding.android.SplashScreenDrawable"
                android:resource="@drawable/launch_background"
                />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
